---
import { Icon } from 'astro-icon'
import type { CollectionEntry, CollectionKey } from 'astro:content'
import PixelContainer from '@/components/PixelContainer.astro'

interface Props {
  entry: CollectionEntry<CollectionKey>
}

const {
  entry: { collection, slug, data },
} = Astro.props

const href = `/${collection}/${slug}`
const title = data.title
const date = data.pubDate.toLocaleDateString('ja-JP')
const version =
  'godotVersion' in data
    ? 'v' + data.godotVersion.match(/^\d+/)?.[0]
    : undefined
---

<a class="inline-block" href={href}>
  <PixelContainer
    class="hover:-translate-x-0.5 hover:-translate-y-0.5 h-full p-2 flex flex-col"
  >
    <img class="w-full" src="/800x450.png" alt="Card image" />
    <div class="p-4 flex flex-col justify-between h-full">
      <div class="font-bold">{title}</div>
      <div class="mt-2 flex flex-wrap items-center text-xs font-pixelify">
        <div class="flex items-center mr-2">
          <Icon name="clock" class="h-4 w-4 mr-1 text-godot" alt="clock icon" />
          <span>{date}</span>
        </div>
        <div class="flex items-center">
          <Icon
            name="kodot-solid"
            class="h-4 w-4 mr-1 text-godot"
            alt="kodot icon"
          />
          <span>{version}</span>
        </div>
      </div>
    </div>
  </PixelContainer>
</a>
