---
import { siteName } from '@/siteConfig'

export type Props = {
  title?: string
  description?: string
  ogType?: 'website' | 'article'
  ogImageURL?: URL
  jsonLd?: object
}

const {
  title,
  description,
  ogType = 'website',
  ogImageURL = new URL('/og/default.png', Astro.site),
  jsonLd,
} = Astro.props

const titleText = title
  ? `${title} | ${siteName} `
  : `${siteName} | Godot のゲーム開発情報サイト`

const canonicalURL = new URL(Astro.url.pathname, Astro.site)
---

<>
  <title>{titleText}</title>
  {description && <meta name="description" content={description} />}
  <link rel="canonical" href={canonicalURL} />

  <meta property="og:title" content={titleText} />
  {description && <meta property="og:description" content={description} />}
  <meta property="og:url" content={canonicalURL} />
  <meta property="og:type" content={ogType} />
  <meta property="og:image" content={ogImageURL} />
  <meta name="twitter:card" content="summary_large_image" />

  {
    jsonLd && (
      <script
        is:inline
        type="application/ld+json"
        set:html={JSON.stringify(jsonLd)}
      />
    )
  }
</>
