---
import '@fontsource/m-plus-1p'
import '@fontsource/pixelify-sans'

import { Icon } from 'astro-icon'
import ThemeIcon from '@/components/ThemeIcon.astro'

interface Props {
  primaryColor?: 'godot' | 'godot-green'
  disableAutoContaier?: boolean
}

const { primaryColor = 'godot', disableAutoContaier } = Astro.props

const primaryBgClass = `bg-${primaryColor} dark:bg-${primaryColor}-dark`
const primaryTextClass = `text-${primaryColor}`

const siteName = 'Kodot App'
const headerLinks = [
  { href: '/articles', label: 'Articles' },
  { href: '/notes', label: 'Notes' },
]
const year = new Date().getFullYear()
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Godot Engineの情報サイト" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{siteName}</title>
  </head>
  <body class:list={['flex flex-col min-h-screen', primaryBgClass]}>
    <header
      class:list={[
        'bg-white dark:bg-gh-dimmed-bg p-4 flex justify-between items-center',
        primaryTextClass,
      ]}
    >
      <a href="/" class="flex items-center">
        <Icon name="kodot-solid" alt="logo" class="h-8 mr-2" />
        <span class="font-pixelify text-xl">{siteName}</span>
      </a>
      <div class="flex items-center">
        <nav>
          <ul class="flex font-pixelify text-lg">
            {
              headerLinks.map((link) => (
                <li class="mx-2">
                  <a href={link.href} class=" hover:text-gray-300">
                    {link.label}
                  </a>
                </li>
              ))
            }
          </ul>
        </nav>
        <ThemeIcon />
      </div>
    </header>
    <main
      class:list={[
        'flex-grow text-gray-900 dark:text-gh-dimmed-text',
        { 'container mx-auto': !disableAutoContaier },
      ]}
    >
      <slot />
    </main>
    <footer
      class:list={[
        'bg-white dark:bg-gh-dimmed-bg p-4 font-pixelify text-xs text-center',
        primaryTextClass,
      ]}
    >
      <p>{`[c] ${year} ${siteName}`}</p>
      <p>
        Godot Engine Logo by Andrea Calabró, CC BY 4.0 / converted to pixel art.
      </p>
    </footer>
    {/** 色のクラスを動的にすると、スタイルがうまく生成されないので暫定対応 */}
    <div
      class="hidden text-godot text-godot-green bg-godot dark:bg-godot-dark bg-godot-green dark:bg-godot-green-dark"
    >
    </div>
  </body>
</html>

<style is:global>
  [astro-icon] {
    fill: currentColor;
  }
</style>
