---
import '@fontsource/biz-udpgothic'
import '@fontsource/press-start-2p'

import type { HTMLAttributes } from 'astro/types'
import Icon from '@/components/Icon.astro'
import ThemeIcon from '@/components/ThemeIcon.astro'
import SeoHead, { type Props as SeoHeadProps } from '@/components/SeoHead.astro'
import SearchModal from '@/components/SearchModal.astro'
import {
  siteName,
  type PrimaryColor,
  primaryBgClass,
  primaryTextClass,
} from '@/siteConfig'

import SiteLogoSvg from '@/icons/kodot-app-logo.svg'

export type Props = HTMLAttributes<'main'> & {
  primaryColor: PrimaryColor
  seoHeadProps?: SeoHeadProps
  disableAutoContaier?: boolean
}

const {
  primaryColor,
  seoHeadProps,
  disableAutoContaier,
  class: classNames,
  ...attrs
} = Astro.props

const headerLinks = [
  { href: '/articles', label: 'Articles', icon: 'book-blue' },
  { href: '/notes', label: 'Notes', icon: 'book-green' },
]
const footerLinks = [
  ...headerLinks,
  { href: '/privacy', label: 'Privacy' },
  { href: '/terms', label: 'Terms' },
  { href: '/contact', label: 'Contact' },
]
const year = new Date().getFullYear()
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <SeoHead {...seoHeadProps} />
  </head>
  <body
    class:list={['flex flex-col min-h-screen', primaryBgClass[primaryColor]]}
  >
    <header
      class:list={[
        'bg-white dark:bg-gh-dimmed-bg flex justify-between items-center',
        primaryTextClass[primaryColor],
      ]}
    >
      <a href="/" class="flex items-center mx-4">
        <SiteLogoSvg class="h-[28px] w-full" />
      </a>
      <div class="p-4 flex items-center space-x-4">
        <nav>
          <ul class="flex font-ps2 text-sm space-x-4">
            {
              headerLinks.map((link) => (
                <li>
                  <a href={link.href} class=" hover:text-gray-300">
                    <span class="hidden sm:block">{link.label}</span>
                    <Icon name={link.icon} class="w-8 h-8 sm:hidden" />
                  </a>
                </li>
              ))
            }
          </ul>
        </nav>
        <button id="search">
          <Icon name="search" class="h-8 w-8" />
        </button>
        <ThemeIcon />
      </div>
    </header>
    <main
      class:list={[
        'flex-grow text-gray-900 dark:text-gh-dimmed-text',
        { 'container mx-auto': !disableAutoContaier },
        classNames,
      ]}
      {...attrs}
    >
      <slot />
      <SearchModal />
    </main>
    <footer
      class:list={[
        'bg-white dark:bg-gh-dimmed-bg p-4 font-ps2 flex flex-col items-center',
        primaryTextClass[primaryColor],
      ]}
    >
      <ul class="mb-4 space-x-4 text-sm flex flex-wrap">
        {
          footerLinks.map((link) => (
            <li>
              <a href={link.href} class="hover:text-gray-300">
                {link.label}
              </a>
            </li>
          ))
        }
      </ul>
      <div class="text-[8px] text-center">
        <p>{`© ${year} ${siteName}`}</p>
        <p>
          Godot Engine Logo by Andrea Calabró, CC BY 4.0 / converted to pixel
          art.
        </p>
      </div>
    </footer>
  </body>
</html>
