---
import '@fontsource/m-plus-1p'
import '@fontsource/pixelify-sans'

import type { HTMLAttributes } from 'astro/types'
import { Icon } from 'astro-icon'
import ThemeIcon from '@/components/ThemeIcon.astro'
import SeoHead, { type Props as SeoHeadProps } from '@/components/SeoHead.astro'
import {
  type PrimaryColor,
  primaryBgClass,
  primaryTextClass,
} from '@/siteConfig'

export type Props = HTMLAttributes<'main'> & {
  primaryColor: PrimaryColor
  seoHeadProps?: SeoHeadProps
  disableAutoContaier?: boolean
}

const {
  primaryColor,
  seoHeadProps,
  disableAutoContaier,
  class: classNames,
  ...attrs
} = Astro.props

const siteName = 'Kodot App'
const headerLinks = [
  { href: '/articles', label: 'Articles' },
  { href: '/notes', label: 'Notes' },
]
const footerLinks = [
  ...headerLinks,
  { href: '/privacy', label: 'Privacy' },
  { href: '/terms', label: 'Terms' },
]
const year = new Date().getFullYear()
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <SeoHead {...seoHeadProps} />
  </head>
  <body
    class:list={['flex flex-col min-h-screen', primaryBgClass[primaryColor]]}
  >
    <header
      class:list={[
        'bg-white dark:bg-gh-dimmed-bg p-4 flex justify-between items-center',
        primaryTextClass[primaryColor],
      ]}
    >
      <a href="/" class="flex items-center">
        <Icon name="kodot-solid" alt="logo" class="h-8 mr-2" />
        <span class="font-pixelify text-xl">{siteName}</span>
      </a>
      <div class="flex items-center">
        <nav>
          <ul class="flex font-pixelify text-lg">
            {
              headerLinks.map((link) => (
                <li class="mx-2">
                  <a href={link.href} class=" hover:text-gray-300">
                    {link.label}
                  </a>
                </li>
              ))
            }
          </ul>
        </nav>
        <ThemeIcon />
      </div>
    </header>
    <main
      class:list={[
        'flex-grow text-gray-900 dark:text-gh-dimmed-text',
        { 'container mx-auto': !disableAutoContaier },
        classNames,
      ]}
      {...attrs}
    >
      <slot />
    </main>
    <footer
      class:list={[
        'bg-white dark:bg-gh-dimmed-bg p-4 font-pixelify flex flex-col items-center',
        primaryTextClass[primaryColor],
      ]}
    >
      <ul class="mb-4 space-x-4 text-base flex flex-wrap">
        {
          footerLinks.map((link) => (
            <li>
              <a href={link.href} class="hover:text-gray-300">
                {link.label}
              </a>
            </li>
          ))
        }
      </ul>
      <div class="text-xs text-center">
        <p>{`[c] ${year} ${siteName}`}</p>
        <p>
          Godot Engine Logo by Andrea Calabró, CC BY 4.0 / converted to pixel
          art.
        </p>
      </div>
    </footer>

    <style is:global>
      [astro-icon] {
        fill: currentColor;
      }
    </style>
  </body>
</html>
