---
import type { Page } from 'astro'
import type { CollectionEntry, ContentEntryMap } from 'astro:content'
import type { PrimaryColor } from '@/siteConfig'
import BaseLayout from '@/layouts/BaseLayout.astro'
import Card from '@/components/Card.astro'
import Pagination from '@/components/Pagination.astro'
import IconLabel from '@/components/IconLabel.astro'

export type Props = {
  title: string
  tagText?: string
  icon: string
  page: Page<CollectionEntry<keyof ContentEntryMap>>
  primaryColor: PrimaryColor
}

const { title, tagText, icon, page, primaryColor } = Astro.props
---

<BaseLayout primaryColor={primaryColor}>
  <div class="text-white dark:text-gh-dimmed-text flex justify-center my-8">
    <IconLabel name={icon} isLargeIcon class="font-ps2 text-xl font-bold"
      >{title}</IconLabel
    >
    {tagText && <span class="text-2xl font-bold">{tagText}</span>}
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 mx-4">
    {
      page.data.map((entry) => (
        <Card primaryColor={primaryColor} entry={entry} />
      ))
    }
  </div>
  <Pagination class="my-8" primaryColor={primaryColor} page={page} />
</BaseLayout>
