---
import type { Page } from 'astro'
import type { CollectionEntry, CollectionKey } from 'astro:content'
import type { PrimaryColor } from '@/siteConfig'
import BaseLayout from '@/layouts/BaseLayout.astro'
import Card from '@/components/Card.astro'
import Pagination from '@/components/Pagination.astro'

interface Props {
  title: string
  page: Page<CollectionEntry<CollectionKey>>
  primaryColor: PrimaryColor
}

const { title, page, primaryColor } = Astro.props
---

<BaseLayout primaryColor={primaryColor}>
  <div class="text-white dark:text-gh-dimmed-text text-center my-8">
    <h1 class="font-pixelify text-4xl font-bold">
      {`- ${title} -`}
    </h1>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 mx-4">
    {
      page.data.map((entry) => (
        <Card primaryColor={primaryColor} entry={entry} />
      ))
    }
  </div>
  <Pagination class="my-8" primaryColor={primaryColor} page={page} />
</BaseLayout>
